<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form>
    <h1>Register</h1>

    <label for="username">Full Name</label>
    <input type="text" placeholder="Email or Phone" id="username">
    <label for="username">Email</label>
    <input type="text" placeholder="Email or Phone" id="username">
    <label for="username">Phone Number</label>
    <input type="text" placeholder="Email or Phone" id="username">
    <label for="username">Password</label>
    <input type="text" placeholder="Email or Phone" id="username">

    <label for="password">Re-write Password</label>
    <input type="password" placeholder="Password" id="password">

    <div class="btns">
        <button routerLink="/login">Login</button>
        <button routerLink="/register">Register</button>
    </div>
    <div class="social">
        <div class="go"><i class="fa fa-google"></i>Google</div>
        <div class="gi"><i class="fa fa-github"></i>Github</div>
        <div class="li"><i class="fa fa-linkedin"></i>LinkedIn</div>
    </div>
    <div class="onlyLogo">
        <i class="fa fa-google"></i>
        <i class="fa fa-github"></i>
        <i class="fa fa-linkedin"></i>
    </div>
</form>