.maxHeight {
    max-height: 80% !important;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
    // display: none;
    visibility: hidden;
    display: none;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f1f1f1;
    visibility: hidden;
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: gray;
    // background-image: repeating-linear-gradient(to right, #553c9a, #ee4b2b 150%, #553c9a 50%);
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: #555;
}

@media (max-width : 767px) {

    ::-webkit-scrollbar-thumb,
    ::-webkit-scrollbar-track {
        visibility: hidden;
        display: none;
    }
}