form{
    background-color: black;
    border-radius: 15px;
    padding: 2rem;
    margin-top: -2rem;
    box-shadow: 5px 5px 10px 5px rgb(54, 54, 54);
}
.ngx-file-drop__content{
    border: 1px dotted white !important;
    color: white !important;
}
.disableSubmit{
    cursor: not-allowed;
}
.topMarginSection{
    margin: 20px 50px;
}
@media (max-width : 767px) {
    .centerImage{
        text-align: center;
    }
}