form{
    background-color: rgb(30, 30, 30);
    border-radius: 15px;
    padding: 2rem;
    margin: -2rem auto 0;
}
.ngx-file-drop__content{
    border: 1px dotted white !important;
    color: white !important;
}
.disableSubmit{
    cursor: not-allowed;
}
.topMarginSection{
    margin: 20px 50px;
}
@media (max-width : 767px) {
    form{
        width: 90%;
    }
    .centerImage{
        text-align: center;
    }
}