h2 {
    background-image: repeating-linear-gradient(to right, #553c9a, #ee4b2b 10%, #553c9a 20%);
    color: transparent;
    background-clip: text;
    text-align: center;
    margin-top: 4rem;
    font-size: 50px;
}

.mainPage {
    margin: 3rem auto;
    width: 1000px;
    text-align: center;

    .innerClass{
        display: inline-flex;
        gap: 2rem;

        .circleMain {
            height: 15rem;
            width: 15rem;
            border-radius: 50%;
            cursor: pointer;
            margin: 0 auto;
            background-color: #283350;
            margin: 0 2rem;
            font-family: "Rubik", sans-serif;

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                margin-top: 6.5rem;
                font-weight: bold;
                flex-wrap: wrap;
                font-size: 22px;
                letter-spacing: 1px;
            }
        }

        .circleMain:hover {
            box-shadow: 0px 0px 20px 15px #35446e;
            transition: 0.5s;
            height: 16rem;
            width: 16rem;
            border: 1px solid white;
        }
    }
}

@media (max-width : 1000px) {
    .mainPage {
        text-align: center;
        margin: 0 auto;
        width: 90%;

        .innerClass {
            display: grid;
            text-align: center;

            .circleMain {
                box-shadow: 10px 10px 10px 1px rgb(36, 36, 36);
            }
        }
    }

    h2 {
        font-size: 40px;
    }
}