<h2>MEAN Stack CRUD</h2>
<div class="blockFourMain">
    <div class="firstLine">
        <div class="firstBlock" routerLink="/add">
            <span> <i class="fa fa-user-plus"></i> Add New User</span>
        </div>
        <div class="secondBlock" routerLink="/list">
            <span> <i class="fa fa-server"></i> Show Full List</span>
        </div>
    </div>
    <div class="secondLine">
        <div class="firstBlock" routerLink="/totalNumber">
            <span> <i class="fa fa-users"></i> Total Numbers</span>
        </div>
        <div class="secondBlock" (click)="openPopup = true">
            <span> <i class="fa fa-exclamation-circle"></i> About Project</span>
        </div>
    </div>
</div>

<div class="overlay" *ngIf="openPopup">
    <div class="popup aboutPopupWidth">
        <div class="content">
            <h3>About This Project</h3>
            <ul class="aboutList">
                <li *ngFor="let item of mainPageList">
                    <span>{{item.name}}</span>
                </li>
            </ul>
            <div class="popupBtns">
                <button type="cancel" class="btn btn-info searchBtn" (click)="openPopup = false">Cancel</button>
            </div>
        </div>
    </div>
</div>