<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form class="loginForm">
    <h1>Login</h1>

    <label for="username">Username</label>
    <input type="text" placeholder="Email or Phone" id="username">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password">

    <div class="btns">
        <button routerLink="/register">Register</button>
        <button routerLink="/mainPage">Login</button>
    </div>
    <div class="social">
        <div class="go"><i class="fa fa-instagram"></i>LinkedIn</div>
        <div class="gi"><i class="fa fa-github"></i>Github</div>
        <div class="li"><i class="fa fa-linkedin"></i>LinkedIn</div>
    </div>
    <div class="onlyLogo">
        <i class="fa fa-instagram"></i>
        <i class="fa fa-github"></i>
        <i class="fa fa-linkedin"></i>
    </div>
</form>