h2 {
    cursor: auto;
    background-image: repeating-linear-gradient(to right, #553c9a, #ee4b2b 10%, #553c9a 20%);
    color: transparent;
    background-clip: text;
    color: transparent;
    text-align: center;
    margin-top: 4rem;
    font-size: 50px;
}

// h2:hover {
//     text-shadow: rgb(0, 255, 242) 0px 0 15px;
//     transition: 0.9s;
//     color: white;
// }

.aboutPopupWidth {
    width: 600px;
}

.blockFourMain {
    text-align: center;
    margin: 0 auto;
    width: 600px;
    height: 600px;
    font-family: "Rubik", sans-serif;

    .firstLine {
        display: flex;
        justify-content: center;

        .firstBlock {
            background-color: #553c9a;
            width: 50%;
            height: 250px;
            margin: 0.2rem;
            cursor: pointer;
            border-radius: 20px;

            span {
                position: relative;
                float: left;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 25px;
                font-weight: 300;

                i {
                    font-size: 35px;
                }
            }
        }

        .firstBlock,
        .secondBlock {
            span {
                position: relative;
                float: left;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 25px;
                font-weight: bold;
                display: grid;
                color: white;

                i {
                    font-size: 35px;
                }
            }
        }

        .secondBlock {
            width: 50%;
            background-color: #ee4b2b;
            height: 250px;
            margin: 0.2rem;
            cursor: pointer;
            color: white;
            border-radius: 20px;
        }

        .secondBlock:hover, .firstBlock:hover{
            width: 60%;
            height: 280px;
            transition: 0.7s;
            box-shadow: 0px 0px 10px 10px rgb(61, 61, 61);
        }
    }

    .secondLine {
        display: flex;
        justify-content: center;

        .firstBlock {
            background-color: #ee4b2b;
            width: 50%;
            height: 250px;
            margin: 0.2rem;
            cursor: pointer;
            border-radius: 20px;
        }

        .firstBlock,
        .secondBlock {
            span {
                position: relative;
                float: left;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 25px;
                font-weight: bold;
                display: grid;
                color: white;

                i {
                    font-size: 35px;
                }
            }
        }

        .secondBlock {
            width: 50%;
            background-color: #553c9a;
            height: 250px;
            margin: 0.2rem;
            cursor: pointer;
            border-radius: 20px;
        }

        .secondBlock:hover, .firstBlock:hover{
            width: 60%;
            height: 280px;
            transition: 0.7s;
            box-shadow: 0px 0px 10px 10px rgb(61, 61, 61);
        }
    }
}


@media (max-width : 767px) {
    .blockFourMain{
        width: 100%;
        margin-top: 4rem;
        .firstLine{
            display: inline;
            text-align: -webkit-center;
            .firstBlock{
                width: 200px;
                height: 200px;
                margin: 1rem;
                span{
                    display: grid;
                }
            }
            .secondBlock{
                width: 200px;
                height: 200px;
                span{
                    display: grid;
                }
            }
        }
        .secondLine{
            display: inline;
            text-align: -webkit-center;
            .firstBlock{
                background-color: #553c9a;
                width: 200px;
                height: 200px;
                margin: 1rem;
                span{
                    display: grid;
                }
            }
            .secondBlock{
                width: 200px;
                height: 200px;
                background-color: #ee4b2b;
                span{
                    display: grid;
                }
            }
        }
    }
}

@media (max-width : 1000px) {


    .totalNumber {
        width: 90%;
    }

    .showFullList {
        width: 80%;
    }

    h2 {
        font-size: 40px;
    }
}