form{
    background-color: rgb(30, 30, 30);
    border-radius: 15px;
    padding: 0.7rem 2rem 2rem;
    margin: 0rem auto 0;
    box-shadow: 0px 0px 10px 4px black;
}
.ngx-file-drop__content{
    border: 1px dotted white !important;
    color: white !important;
}
.addFormSection{
    margin: 20px 50px 0px;
}
.upperBtns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.disableSubmit{
    cursor: not-allowed;
}
.topMarginSection{
    margin: 20px 50px;
}
@media (max-width : 767px) {
    form{
        width: 90%;
    }
    .centerImage{
        text-align: center;
    }
    .addFormSection{
        margin: 20px 30px 0px;
    }
    .width50{
        width: 50%;
    }
}