<section class="addFormSection">
    <div class="upperBtns">
        <button type="button" class="btn btn-secondary width100 btnSecondary" [routerLink]="[ '/mainPage']">
            <i class="fa fa-chevron-left"></i> &nbsp;Home Page
        </button>
        <button type="button" class="btn btn-secondary width100 btnSecondary" [routerLink]="[ '/list']">
            List Page &nbsp;<i class="fa fa-chevron-right"></i> 
        </button>
    </div>
</section>

<section class="addNewSection">
    <form [formGroup]="userForm" (ngSubmit)="addUser()">
        <div class="row">
            <div class="col-md-6">
                <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                    (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                        <button class="choose-file" type="button" mat-button (click)="openFileSelector()">
                            Choose File
                        </button>
                    </ng-template>
                </ngx-file-drop>
                <div class="image-info">Maximum size of 2000px JPG, GIF, PNG</div>
                <div class="valErr" *ngIf="hasError('profileImg','required') && formInvalid">Upload Image
                </div>
            </div>
            <div class="col-md-6 centerImage">
                <img *ngIf="imageSrc != 'default'" [src]="imageSrc" style="height: 150px;"
                    onerror='this.onerror=null;this.src="assets/images/user_profile.png";' alt="user image">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="firstName" formControlName="firstName"
                        placeholder="Enter First Name">
                    <div class="valErr" *ngIf="hasError('firstName','required') && formInvalid">Enter First Name
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="lastName" formControlName="lastName"
                        placeholder="Enter Last Name">
                    <div class="valErr" *ngIf="hasError('lastName','required') && formInvalid">Enter Last Name
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" formControlName="email"
                        placeholder="Enter Email">
                    <div class="valErr" *ngIf="hasError('email','required') && formInvalid">Enter Email
                    </div>
                    <div class="valErr" *ngIf="hasError('email','email') && formInvalid">Enter valid Email
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="phoneNumber">Phone #</label>
                    <input type="email" class="form-control" name="phoneNumber" id="phoneNumber"
                        formControlName="phoneNumber" placeholder="Enter Phone #">
                    <div class="valErr" *ngIf="hasError('phoneNumber','required') && formInvalid">Enter Phone #
                    </div>
                    <div class="valErr" *ngIf="hasError('phoneNumber','pattern') && formInvalid">Enter valid Phone #
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="phoneNumber">Address</label>
                    <input type="email" class="form-control" name="address" id="address" formControlName="address"
                        placeholder="Enter Address #">
                    <div class="valErr" *ngIf="hasError('address','required') && formInvalid">Enter Address #
                    </div>
                    <div class="valErr" *ngIf="hasError('address','pattern') && formInvalid">Enter Address #
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="phoneNumber">Instrument</label>
                    <select class="form-control" name="instrument" id="instrument" placeholder="Enter Instrument #"
                        formControlName="instrument">
                        <option *ngFor="let item of instArray" value={{item.value}}>{{item.name}}</option>
                    </select>
                    <div class="valErr" *ngIf="hasError('instrument','required') && formInvalid">Enter Instrument
                    </div>
                    <div class="valErr" *ngIf="hasError('instrument','pattern') && formInvalid">Enter Instrument
                    </div>
                </div>
            </div>
        </div>

        <div class="submit-center gapTwoBtn">
            <button type="submit" class="btn btn-success"
                [ngClass]="userForm.valid ? '' : 'disableSubmit' ">Submit</button>
            <button type="submit" routerLink="" class="btn btnDanger btn-danger action-btn">Cancel</button>
        </div>
    </form>
</section>