.list-all {
    .mainHeading {
        font-size: 50px;
        font-weight: 500;
        background-image: repeating-linear-gradient(to right, #553c9a, #ee4b2b 10%, #553c9a 20%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        text-align: center;
        font-family: "Rubik", sans-serif;
        margin-bottom: 2rem;
    }

    .searchAndAdd {
        display: flex;
        justify-content: space-between;

        .searchInput {
            height: 3rem;
            border-radius: 10px;
            color: black;
            border: none;
            font-family: "Rubik", sans-serif;
            background-color: #eaeaea;
        }

        .searchInput:focus {
            box-shadow: 0px 0px 10px 5px gray;
        }

        .addUserBtn,
        .showInstBtn {
            align-items: center;
            background-image: linear-gradient(144deg, #553c9a, #ee4b2b 1%, #553c9a);
            border: 0;
            border-radius: 8px;
            box-sizing: border-box;
            color: #000000;
            display: flex;
            gap: 0.5rem;
            font-family: "Rubik", sans-serif;
            font-size: 20px;
            justify-content: center;
            line-height: 1em;
            max-width: 100%;
            min-width: 140px;
            padding: 3px 7px;
            text-decoration: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            white-space: nowrap;
            cursor: pointer;
        }

        .addUserBtn:hover,
        .showInstBtn:hover {
            box-shadow: 0px 0px 10px 5px rgb(97, 97, 97);
        }

    }

    .topIcons {
        display: flex;
        justify-content: space-between;

        .addUserIcon,
        .searchIcon {
            font-size: 32px;
            margin: 1rem 0 0;
            color: rgb(149, 149, 149);
        }
    }

    .mainTable {
        background-color: rgb(26, 26, 26);
        border-radius: 15px;
        margin-top: 1rem;
        border-spacing: 0;
        overflow-x: auto;
        height: auto;
        min-height: 500px;

        .table {
            --bs-table-bg: none !important;

            thead {
                border-bottom: 1px solid rgb(85, 85, 85);
                width: 100%;

                th {
                    color: white;
                    border-bottom: 1px solid gray;
                    font-family: "Rubik", sans-serif;
                    font-weight: 500;
                    padding: 1rem;
                    text-wrap: nowrap;
                    background-color: rgb(26, 26, 26);
                }

                .fa-long-arrow-up {
                    color: gray;
                }

                .fa-long-arrow-down {
                    color: gray;
                }
            }

            td {
                color: white;
                width: fit-content;
                font-family: "Rubik", sans-serif;
                align-items: center;
            }

            tr:nth-child(odd) {
                background-color: #0d0d0d;
            }
        }
    }

    .paginationNum {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        align-items: center;

        .selectPage {

            select {
                width: 100px;
                border-radius: 10px;
                border: none;
                height: 2.5rem;
                font-size: 20px;
                background-color: #eaeaea;
            }
        }

        .paginationMain {
            border-radius: 10px;
            margin: 0 !important;
            color: gray;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;

    .popup {
        margin: 5rem auto;
        padding: 20px;
        background: #fff;
        border-radius: 15px;
        width: fit-content;
        position: relative;
        transition: all 5s ease-in-out;
        z-index: 999;
        text-align: -webkit-center;

        .close {
            position: absolute;
            top: -19px;
            right: 7px;
            transition: all 200ms;
            font-size: 50px;
            font-weight: bold;
            text-decoration: none;
            color: #333;
        }

        .close:hover {
            color: #000000;
            cursor: pointer;
        }

        .content {
            max-height: fit-content;
            width: fit-content;
            overflow: auto;

            h4 {
                margin-top: 2rem;
                color: #333;
                font-family: "Rubik", sans-serif;
                text-align: center;
            }

            .popupBtns {
                display: flex;
                justify-content: center;
                gap: 1rem;
                margin-top: 2rem;

                .searchBtn {
                    align-items: center;
                    background-image: linear-gradient(144deg, #553c9a, #ee4b2b 1%, #553c9a);
                    border: 0;
                    border-radius: 8px;
                    box-sizing: border-box;
                    color: #ffffff;
                    display: flex;
                    gap: 0.5rem;
                    font-family: "Rubik", sans-serif;
                    font-size: 18px;
                    justify-content: center;
                    line-height: 0.5rem 1em;
                    max-width: 100%;
                    min-width: 140px;
                    padding: 1rem 0.5rem;
                    text-decoration: none;
                    user-select: none;
                    -webkit-user-select: none;
                    touch-action: manipulation;
                    white-space: nowrap;
                    cursor: pointer;
                }
            }

            .mobSearch {
                width: 100%;
                text-align: center;
                border-radius: 7px;
                border: 1px solid gray;
                height: 2.7rem;
                margin-top: 1rem;
            }
        }
    }
}

@media (min-width : 729px) {
    .list-all {
        .topIcons {

            .addUserIcon,
            .searchIcon {
                display: none;
                visibility: hidden;
            }
        }
    }
}

@media (max-width : 729px) {
    .list-all {
        .paginationNum {
            display: inline;
            text-align: center;
            margin-top: 2rem;

            .selectPage {
                margin: 2rem 0;

                select {
                    height: 2.5rem;
                    font-size: 20px;
                }
            }
        }

        .searchAndAdd {
            display: none;
            visibility: hidden;
        }

        .mainTable {
            margin: 2rem 0;
        }
    }

    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .popup {
            margin: auto;
            width: 90%;
        }
    }
}