form{
    margin-top: -2rem;
    background-color: black;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 5px 5px 10px 5px rgb(54, 54, 54);
}
.btn-primary{
    background-color: transparent;
    color: rgb(17, 172, 255);
    border: 2px solid rgb(17, 172, 255);
    font-size: 20px;
}