@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

@font-face {
  font-family: "pridibold";
  src: url("./assets/fonts/pridi-bold-webfont.woff2") format("woff2"),
    url("./assets/fonts/pridi-bold-webfont.woff") format("woff"),
    url("./assets/fonts/pridi-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pridimedium";
  src: url("./assets/fonts/pridi-medium-webfont.woff2") format("woff2"),
    url("./assets/fonts/pridi-medium-webfont.woff") format("woff"),
    url("./assets/fonts/pridi-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pridimedium";
  src: url("./assets/fonts/pridi-medium-webfont.woff2") format("woff2"),
    url("./assets/fonts/pridi-medium-webfont.woff") format("woff"),
    url("./assets/fonts/pridi-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
    --glow-color: hsl(186 100% 69%);
}

section {
    margin: 50px;
}
.col-md-6{
    margin-top: 1.5rem;
}
.form-control {
    border-radius: 0 !important;
    height: 3rem;
    border-radius: 5px !important;
    font-family: "Rubik", sans-serif;
    background-color: rgb(204, 204, 204);
    margin-top: 0.3rem;
}

.addUserBtn {
    float: right;
    height: 3rem;
    width: fit-content;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(3, 3, 3);
    border: 2px solid rgb(3, 3, 3);
    background-color: transparent;
    font-family: "Rubik", sans-serif;
}

.valErr {
    color: red;
    font-weight: 500;
    font-family: "Rubik", sans-serif;
}
.mainBody{
    height: 100%;
    width: 100%;
    background-color: #c3cace;
}
.addTable{
    background: white; 
    padding: 20px; 
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.searchInput{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid white;
    padding-left: 10px;
}

.searchIcon{
    background-color: transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
label {
    font-weight: 500;
    color: white;
    font-family: "Rubik", sans-serif;
}
form{
    box-shadow: 0px 3px 20px 10px #1c1c1c;
}
.action-btn {
    background-color: transparent;
    font-family: "Rubik", sans-serif;
}
.btn-danger{
    border: 2px solid red;
    font-size: 17px;
    font-family: "Rubik", sans-serif;
}
.btn-info{
    color: rgb(85, 85, 85);
    border: 2px solid rgb(85, 85, 85);
    font-family: "Rubik", sans-serif;
    background-color: transparent;
}
.btn-info:hover{
    background-color: gray;
    border: 2px solid gray;
}
.btn-secondary{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 17px;
    font-family: "Rubik", sans-serif;
}
.btnSecondary{
    border: 1px solid black !important;
    color: black !important;
    border-radius: 5px !important;
}
.btn-danger{
    color: red;
}
.btn-success{
    border: 2px solid green;
    background-color: transparent;
    color: green;
    font-size: 17px;
    font-family: "Rubik", sans-serif;
}

.image-info{
    color: white;
}

.modal-msg {
    font-weight: bold;
    text-align: center;
    font-family: "Rubik", sans-serif;
}

.gapTwoBtn{
    gap: 1rem;
    display: flex;
    margin-top: 2rem;
}

@media (max-width : 500px) {
    .addUserBtn {
        display: none;
        visibility: hidden;
    }
    section {
        margin: 50px 30px;
    }
    
    .submit-center {
        .btn-primary {
            width: 100%;
        }
    }

    form {
        padding: 1rem !important;
    }

    .btn-success {
        width: 50%;
    }

    .btnDanger {
        width: 50%;
    }

    .profileCenter{
        text-align: center;
    }
    
    .addNewSection {
        margin: 50px 20px;
    }

    .width100{
        width: 100% !important;
    }
    .searchAdd{
        display: inline;
    }
}