@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

@font-face {
    font-family: "pridibold";
    src: url("./assets/fonts/pridi-bold-webfont.woff2") format("woff2"),
        url("./assets/fonts/pridi-bold-webfont.woff") format("woff"),
        url("./assets/fonts/pridi-bold-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "pridimedium";
    src: url("./assets/fonts/pridi-medium-webfont.woff2") format("woff2"),
        url("./assets/fonts/pridi-medium-webfont.woff") format("woff"),
        url("./assets/fonts/pridi-medium-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "pridimedium";
    src: url("./assets/fonts/pridi-medium-webfont.woff2") format("woff2"),
        url("./assets/fonts/pridi-medium-webfont.woff") format("woff"),
        url("./assets/fonts/pridi-medium-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --glow-color: hsl(186 100% 69%);
}

section {
    margin: 40px 50px 10px;
}

.col-md-6 {
    margin-top: 1.5rem;
}
.row{
    display: block !important;
}
.form-control {
    border-radius: 0 !important;
    height: 3rem;
    border-radius: 5px !important;
    font-family: "Rubik", sans-serif;
    background-color: rgb(204, 204, 204);
    margin-top: 0.3rem;
}

.valErr {
    color: red;
    font-weight: 500;
    font-family: "Rubik", sans-serif;
}

.mainBody {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat no-repeat, no-repeat no-repeat;
}

.addTable {
    background: white;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.searchInput {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid white;
    padding-left: 10px;
}

.searchIcon {
    background-color: transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

label {
    font-weight: 500;
    color: white;
    font-family: "Rubik", sans-serif;
}

.action-btn {
    background-color: transparent;
    font-family: "Rubik", sans-serif;
}

.btn-danger {
    border: 2px solid red;
    font-size: 17px;
    font-family: "Rubik", sans-serif;
}

.btn-info {
    color: rgb(85, 85, 85);
    border: 2px solid rgb(85, 85, 85);
    font-family: "Rubik", sans-serif;
    background-color: transparent;
}

.btn-info:hover {
    background-color: gray;
    border: 2px solid gray;
}

.btn-secondary {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 17px;
    font-family: "Rubik", sans-serif;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.btnSecondary {
    border: none !important;
    color: white !important;
    border-radius: 10px !important;
}

.btnSecondary:hover {
    text-shadow: 5px 1px 30px #e2e2e2;
    background-color: transparent;
    color: white;
}

.btn-danger {
    color: red;
    gap: 0.5rem;
    align-items: center;
    display: flex;
}

.btn-success {
    border: 2px solid green;
    background-color: transparent;
    color: green;
    font-size: 17px;
    font-family: "Rubik", sans-serif;
}

.image-info {
    color: white;
}

.modal-msg {
    font-weight: bold;
    text-align: center;
    font-family: "Rubik", sans-serif;
}

.gapTwoBtn {
    gap: 1rem;
    display: flex;
    margin-top: 2rem;
}

@media (max-width : 500px) {
    .addUserBtn {
        display: none;
        visibility: hidden;
    }

    section {
        margin: 18px 30px;
    }

    .submit-center {
        .btn-primary {
            width: 100%;
        }
    }

    form {
        padding: 1rem !important;
    }

    .btn-success {
        width: 50%;
    }

    .btnDanger {
        width: 50%;
    }

    .profileCenter {
        text-align: center;
    }

    .addNewSection {
        margin: 50px 20px;
    }

    .width100 {
        /* width: 100% !important; */
        text-align: left;
    }

    .searchAdd {
        display: inline;
    }

    .ngx-pagination {
        width: 100%;
        padding: 10px 5px;
        border-radius: 25px;
        /* border: 1px solid rgb(129, 129, 129); */
    }
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: repeating-linear-gradient(to right, #553c9a, #ee4b2b 100%, #553c9a 50%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: #555;
}