.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
    font-family: "Rubik", sans-serif;

    .deletePopup {
        width: 600px !important;
        margin: 10rem auto !important;
    }

    .popup {
        margin: 2rem auto;
        padding: 20px;
        background: #fff;
        border-radius: 15px;
        width: fit-content;
        position: relative;
        transition: all 5s ease-in-out;
        z-index: 999;
        text-align: -webkit-center;

        .content {
            max-height: fit-content;
            width: fit-content;
            overflow: auto;

            h3{
                background-image: repeating-linear-gradient(to right, #553c9a, #ee4b2b 40%, #553c9a 20%);
                color: transparent;
                background-clip: text; 
            }
            .aboutList {
                text-align: left;
                height: 400px;
                overflow:auto; 
                max-height: 400px;  
                box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.2); 

                li {
                    text-align: left;
                    margin: 0.7rem 0;
                    list-style:decimal;
                }
            }

            .tableMain {
                max-height: 420px !important;
                overflow: auto;
                height: 330px;
                border: 1px solid white;

                .table {

                    .notMatching {
                        left: 50%;
                        text-align: center;
                    }

                    tr {
                        th {
                            font-size: 16px;
                            font-family: "Rubik", sans-serif;
                            color: black;
                            padding: 0.5rem;
                            background-color: white;
                            text-wrap: nowrap;
                        }

                        td {
                            font-family: "Rubik", sans-serif;
                            font-size: 16px;
                            color: rgb(18, 18, 18);
                            padding: 0.5rem;
                            font-weight: 400;

                            .borderGray {
                                border: 2px solid #505050;
                                color: #505050;
                            }

                            .borderGray:hover {
                                color: white;
                            }

                            .borderRed {
                                border: 2px solid rgb(255, 0, 0);
                                color: rgb(255, 0, 0);
                            }

                            .borderRed:hover {
                                color: white;
                            }

                            img {
                                height: 4rem;
                                width: 4rem;
                                padding: 0;
                            }
                        }
                    }

                    tr:nth-child(even) {
                        background-color: #dddddd;
                        color: white;
                    }
                }
            }

            .has-search {
                margin: 1rem 0;

                .form-control {
                    padding-left: 2.375rem;
                    background-color: white;
                    border-radius: 24px !important;
                    width: 97%;
                    box-shadow: 0px 0px 10px 1px rgb(217, 215, 215);
                }

                .form-control-feedback {
                    position: absolute;
                    display: block;
                    width: 2.375rem;
                    height: 2.375rem;
                    line-height: 3.1rem;
                    text-align: center;
                    pointer-events: none;
                    color: #a3a3a3;
                    align-items: center;
                    left: 35px;
                    font-size: 22px;
                }

                .form-control:focus {
                    box-shadow: 0px 0px 10px 5px rgb(191, 191, 191);
                }
            }

            h4 {
                margin-top: 1rem;
                color: #333;
                font-family: "Rubik", sans-serif;
                text-align: center;

                .deleteName {
                    color: red;
                }

                span {
                    font-size: 25px;
                    font-weight: 500;
                    position: relative;
                    color: red;
                    background-clip: text;
                    -webkit-background-clip: text;
                    text-align: center;
                    font-family: "Rubik", sans-serif;
                    margin-bottom: 2rem;
                }
            }

            .popupBtns {
                display: flex;
                justify-content: center;
                gap: 1rem;
                margin-top: 2rem;

                .searchBtn {
                    align-items: center;
                    background-image: linear-gradient(144deg, #553c9a, #ee4b2b 1%, #553c9a);
                    border: 0;
                    border-radius: 8px;
                    box-sizing: border-box;
                    color: #ffffff;
                    display: flex;
                    gap: 0.5rem;
                    font-family: "Rubik", sans-serif;
                    font-size: 18px;
                    justify-content: center;
                    line-height: 0.5rem 1em;
                    max-width: 100%;
                    min-width: 100px;
                    padding: 0.7rem 0.5rem;
                    text-decoration: none;
                    user-select: none;
                    -webkit-user-select: none;
                    touch-action: manipulation;
                    white-space: nowrap;
                    cursor: pointer;
                }
            }

            .mobSearch {
                width: 100%;
                text-align: center;
                border-radius: 7px;
                border: 1px solid gray;
                height: 2.7rem;
                margin-top: 1rem;
            }
        }
    }
}

.ngx-pagination {
    width: 100%;
    padding: 10px 5px;
    border-radius: 15px;
    background-color: rgb(43, 43, 43);

    .current {
        background-color: #ee4b2b !important;
    }

    a {
        border-right: 1px solid gray;
    }
}
.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    .shape {
        height: 200px;
        width: 200px;
        position: absolute;
        border-radius: 50%;
    }

    .shape:first-child {
        background: linear-gradient(#553c9a,
                #ee4b2b);
        left: -50px;
        top: -80px;
    }

    .shape:last-child {
        background: linear-gradient(to right,
                #ee4b2b,
                #553c9a);
        right: -50px;
        bottom: -80px;
    }
}

form {
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    font-family: "Rubik", sans-serif;
    letter-spacing: 0.5px;
    margin-top: 0rem;

    h1 {
        font-size: 50px;
        font-weight: 500;
        line-height: 42px;
        text-align: center;
        color: #ffffff;
        letter-spacing: 3px;
    }

    label {
        display: block;
        margin-top: 20px;
        font-size: 16px;
        font-weight: 500;
    }

    input {
        display: block;
        height: 50px;
        width: 100%;
        background-color: rgba(255, 255, 255);
        border-radius: 10px;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
        color: white;
        outline: none;
        border: none;
    }

    ::placeholder {
        color: #828282;
    }

    .btns{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin-top: 1rem;

        button {
            margin-top: 20px;
            width: 100%;
            background-color: #ffffff;
            color: #080710;
            padding: 15px 0;
            font-size: 18px;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
            border: none;
        }
        button:hover{
            background-color: black;
            color: white;
            transition: 0.3s;
            font-weight: 500;
            box-shadow: 0px 0px 10px 10px gray;
            border: 2px solid white;
        }
    }

    .social {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        div {
            background: red;
            width: 100%;
            border-radius: 3px;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.27);
            color: #181818;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        div:hover {
            background-color: rgba(255, 255, 255, 0.47);
        }

        i {
            margin-right: 4px;
        }
    }
}

@media (max-width:767px) {
    .background {
        width: 70%;
    }

    form {
        width: 80%;
        max-height: 90%;
        overflow: auto;
        h1{
            font-size: 40px;
        }
    }
}
@media (min-width : 450px) {
    form{
        .onlyLogo{
            display: none;
            visibility: hidden;
        }
    }
}
@media (max-width : 450px) {
    form{
        .social{
            display: inline;
            width: 70%;
            .go, .gi, .li{
                display: none;
                visibility: hidden;
            }
        }
        .onlyLogo{
            display: flex;
            justify-content: space-between;
            padding: 2rem 2rem 1rem;
            
            i{
                color: black;
                font-size: 30px;
                border-radius: 50%;
            }
        }
    }
}
@media (max-width : 729px) {
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .deletePopup {
            width: 90% !important;
        }

        .popup {
            margin: auto;
            width: 90%;
        }
    }
}

@media (max-width : 1037px) {
    .aboutPopupWidth{
        width: 85% !important;
    }
    .overlay {
        .popup {
            width: 90%;
            height: fit-content;

            
            .content {
                max-height: max-content;
                width: 100%;
                overflow: auto;

                .tableMain {
                    margin-top: 1.5rem;
                    overflow: auto;
                    overflow-x: scroll;

                    .table {
                        overflow: auto;
                        overflow-x: scroll;
                    }
                }

                h4 {
                    position: inherit;
                }

                .popupBtns {
                    .searchBtn {
                        position: inherit;
                    }
                }

                .mobSearch {
                    width: 100%;
                    text-align: center;
                    border-radius: 7px;
                    border: 1px solid gray;
                    height: 2.7rem;
                    margin-top: 1rem;
                }
            }
        }
    }
}

@media (max-width : 580px) {
    .overlay {
        .popup {
            width: 85%;
        }
    }
}