<div class="totalNumber">
    <h3>Total Number of Students</h3>
    <h1>{{totalNumber}}</h1>
</div>
<div class="otherNumbers">
    <div class="inst" (click)="showListInfo('Drums')">
        <img src="https://images.unsplash.com/photo-1519892300165-cb5542fb47c7?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZHJ1bXN8ZW58MHx8MHx8fDA%3D"
            alt="">
        <div class="info">
            <h4>Drums</h4>
            <h1>{{drums}}</h1>
        </div>
    </div>
    <div class="inst" (click)="showListInfo('Guitar')">
        <img src="https://images.unsplash.com/photo-1605020420620-20c943cc4669?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGd1aXRhcnxlbnwwfHwwfHx8MA%3D%3D"
            alt="">
        <div class="info">
            <h4>Guitar</h4>
            <h1>{{guitar}}</h1>
        </div>
    </div>
    <div class="inst" (click)="showListInfo('Trumpet')">
        <img src="https://images.unsplash.com/photo-1573871666457-7c7329118cf9?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8dHJ1bXBldHxlbnwwfHwwfHx8MA%3D%3D"
            alt="">
        <div class="info">
            <h4>Trumpet</h4>
            <h1>{{trumpet}}</h1>
        </div>
    </div>
    <div class="inst" (click)="showListInfo('Piano')">
        <img src="https://images.pexels.com/photos/1246437/pexels-photo-1246437.jpeg?cs=srgb&dl=pexels-juan-pablo-serrano-arenas-1246437.jpg&fm=jpg"
            alt="">
        <div class="info">
            <h4>Piano</h4>
            <h1>{{piano}}</h1>
        </div>
    </div>
    <div class="inst" (click)="showListInfo('Tabla')">
        <img src="https://3.bp.blogspot.com/-hQjp7wRRg64/Ws_HGzsSjfI/AAAAAAAAL7E/__Aozb1wP-QNG_2lBil2ShAVMz-9Ev_-QCLcBGAs/s1600/Tabla.jpg"
            alt="">
        <div class="info">
            <h4>Tabla</h4>
            <h1>{{tabla}}</h1>
        </div>
    </div>
    <div class="inst" (click)="showListInfo('Beatbox')">
        <img src="https://t3.ftcdn.net/jpg/00/70/32/10/360_F_70321053_rphQ2sbox2DJIuZkCJjmxnMgpC0ml2HS.jpg" alt="">
        <div class="info">
            <h4>BeatBox</h4>
            <h1>{{beatbox}}</h1>
        </div>
    </div>
</div>

<div class="showFullList" [ngClass]=" hideBtn ? 'hideBtn' : '' ">
    <button (click)="showFullList()"> <i class="fa fa-angle-double-left"></i> Show Full List</button>
</div>

<div class="overlay" *ngIf="openPopup">
    <div class="popup">
        <div class="content">
            <h4>Students who choosen <span>{{changeName}}</span> </h4>
            <div class="form-group has-search">
                <i class="fa fa-search form-control-feedback"></i>
                <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search...">
            </div>
            <div class="tableMain">
                <table class="table table-borderless">
                    <tr>
                        <th>Profile Image</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Actions</th>
                    </tr>
                    <tr *ngFor="let item of infoName| filter:searchText">
                        <td><img src={{item.profileImg}} alt=""></td>
                        <td>{{item.firstName}}</td>
                        <td>{{item.lastName}}</td>
                        <td>{{item.phoneNumber}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.address}}</td>
                        <td scope="row" style="display: flex; gap: 0.5rem;">
                            <button type="button" class="btn btn-secondary action-btn borderGray"
                                [routerLink]="[ '/edit', item._id ]">Edit</button>
                            <button type="button" class="btn btn-danger action-btn borderRed"
                                (click)="selectUser(item); openPopup = true;">Delete</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="popupBtns">
                <button type="cancel" class="btn btn-info searchBtn" (click)="closePopupNew()">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="overlay" *ngIf="openDelete" (click)="openDelete = false">
    <div class="popup">
        <div class="content">
            <h4>You want to delete the record of <span class="deleteName"> {{deleteUserName}}</span> ?</h4>
            <div class="popupBtns">
                <button type="cancel" class="btn btn-info" (click)="openDelete = false; openPopup = true;">Cancel</button>
                <button type="button" class="btn btn-danger action-btn"
                    (click)="deleteUser()">Delete</button>
            </div>
        </div>
    </div>
</div>