.totalNumber {
    display: flex;
    justify-content: center;
    gap: 2rem;
    border-radius: 15px;
    margin: 2rem auto 1rem;
    width: fit-content;
    padding: 0.5rem 1rem;
    align-items: center;
    overflow-y: auto;
    border-bottom: 1px solid rgb(53, 53, 53);

    h3 {
        color: white;
        font-family: "Rubik", sans-serif;
    }

    h1 {
        font-size: 40px;
        font-weight: 500;
        background-image: repeating-linear-gradient(to right, #553c9a, #ee4b2b 50%, #553c9a 20%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        text-align: center;
        font-family: "Rubik", sans-serif;
    }
}

.showFullList {
    text-align: center;
    position: relative;
    margin: 2rem 0;

    button {
        padding: 10px;
        border: 3px solid;
        border-image: linear-gradient(60deg, #553c9a 60%, #ee4b2b 0) 20;
        background: transparent;
        font-family: "Rubik", sans-serif;
        color: white;
    }

    button:hover {
        box-shadow: 0px 0px 10px 5px gray;
        transition: 0.3s;
    }
}

.otherNumbers {
    width: 900px;
    margin: 0 auto;
    text-align: center;

    .inst {
        display: inline-block;
        gap: 1rem;
        padding: 1rem;
        align-items: center;
        border-radius: 15px;
        width: 200px;
        margin: 1rem;
        border: 1px solid rgb(23, 23, 23);
        background-color: #151515;

        img {
            height: 7rem;
            width: auto;
            box-shadow: 0px 0px 10px 1px rgb(45, 45, 45);
        }

        .info {
            display: inline;
            text-align: center;


            h4 {
                color: white;
                letter-spacing: 1px;
                font-family: "Rubik", sans-serif;
                margin-top: 1.5rem;
            }

            h1 {
                color: yellow;
                font-family: "pridimedium";
                margin-bottom: 0;
            }
        }

        .showListBtn {
            background-image: linear-gradient(144deg, #553c9a, #ee4b2b 1%, #553c9a);
            border: 0;
            border-radius: 8px;
            color: #ffffff;
            font-family: "Rubik", sans-serif;
            font-size: 14px;
            max-width: 50%;
            min-width: 100px;
            padding: 0.5rem;
            cursor: pointer;
        }
    }

    .inst:hover {
        box-shadow: 0px 0px 15px 4px rgb(54, 54, 54);
        transition: 0.3s;
    }
}

.hideBtn {
    display: none;
}

.colorWhite {
    color: white;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;

    .popup {
        margin: 2rem auto;
        padding: 20px;
        background: #fff;
        border-radius: 15px;
        width: max-content;
        max-width: 90%;
        max-height: 95%;
        position: relative;
        transition: all 5s ease-in-out;
        z-index: 999;
        text-align: -webkit-center;

        .content {
            width: fit-content;
            max-height: fit-content;

            .has-search {
                margin: 1rem 0;

                .form-control {
                    padding-left: 2.375rem;
                    background-color: white;
                    box-shadow: 0px 0px 10px 1px rgb(168, 168, 168);
                }

                .form-control-feedback {
                    position: absolute;
                    display: block;
                    width: 2.375rem;
                    height: 2.375rem;
                    line-height: 3.1rem;
                    text-align: center;
                    pointer-events: none;
                    color: #585858;
                    align-items: center;
                    font-size: 22px;
                }

                .form-control:focus {
                    box-shadow: 0px 0px 10px 5px gray;
                }
            }

            h4 {
                color: #333;
                font-family: "Rubik", sans-serif;
                text-align: center;
                width: 100%;
                z-index: 999;
                position: relative;

                .deleteName {
                    color: red;
                }

                span {
                    font-size: 25px;
                    font-weight: 500;
                    position: relative;
                    background-image: repeating-linear-gradient(to right, #553c9a, #ee4b2b 10%, #553c9a 50%);
                    color: transparent;
                    background-clip: text;
                    -webkit-background-clip: text;
                    text-align: center;
                    font-family: "Rubik", sans-serif;
                    margin-bottom: 2rem;
                }
            }

            .tableMain {
                max-height: 420px !important;
                overflow: auto;
                height: 330px;
                border: 1px solid white;

                .table {

                    .notMatching {
                        left: 50%;
                        text-align: center;
                    }

                    tr {
                        th {
                            font-size: 16px;
                            font-family: "Rubik", sans-serif;
                            color: black;
                            padding: 0.5rem;
                            background-color: white;
                            text-wrap: nowrap;
                        }

                        td {
                            font-family: "Rubik", sans-serif;
                            font-size: 16px;
                            color: rgb(18, 18, 18);
                            padding: 0.5rem;
                            font-weight: 400;

                            .borderGray {
                                border: 2px solid #505050;
                                color: #505050;
                            }

                            .borderGray:hover {
                                color: white;
                            }

                            .borderRed {
                                border: 2px solid rgb(255, 0, 0);
                                color: rgb(255, 0, 0);
                            }

                            .borderRed:hover {
                                color: white;
                            }

                            img {
                                height: 4rem;
                                width: 4rem;
                                padding: 0;
                            }
                        }
                    }

                    tr:nth-child(even) {
                        background-color: #dddddd;
                        color: white;
                    }
                }
            }


            .popupBtns {
                display: flex;
                justify-content: center;
                gap: 1rem;
                margin-top: 2rem;

                .searchBtn {
                    align-items: center;
                    background-image: linear-gradient(144deg, #553c9a, #ee4b2b 1%, #553c9a);
                    border: 0;
                    border-radius: 8px;
                    box-sizing: border-box;
                    color: #ffffff;
                    display: flex;
                    gap: 0.5rem;
                    font-family: "Rubik", sans-serif;
                    font-size: 18px;
                    justify-content: center;
                    line-height: 0.5rem 1em;
                    max-width: 100%;
                    min-width: 140px;
                    padding: 1rem 0.5rem;
                    text-decoration: none;
                    user-select: none;
                    -webkit-user-select: none;
                    touch-action: manipulation;
                    white-space: nowrap;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width : 767px) {
    .otherNumbers {
        width: 100%;

        .inst {
            max-width: 250px;

            img {
                height: 10rem;
                width: 100%;
            }
        }
    }

    .totalNumber {
        width: 90%;
    }
}

@media (max-width : 1037px) {
    .overlay {
        .popup {
            width: 90%;
            height: fit-content;

            .content {
                max-height: max-content;
                width: 100%;
                overflow: auto;

                .tableMain {
                    margin-top: 1.5rem;
                    overflow: auto;
                    overflow-x: scroll;

                    .table {
                        overflow: auto;
                        overflow-x: scroll;
                    }
                }

                h4 {
                    position: inherit;
                }

                .popupBtns {
                    .searchBtn {
                        position: inherit;
                    }
                }

                .mobSearch {
                    width: 100%;
                    text-align: center;
                    border-radius: 7px;
                    border: 1px solid gray;
                    height: 2.7rem;
                    margin-top: 1rem;
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}