.totalNumber {
    display: flex;
    justify-content: center;
    gap: 2rem;
    border-radius: 15px;
    margin: 2rem auto 1rem;
    width: fit-content;
    padding: 0.5rem 1rem;
    align-items: center;
    box-shadow: 5px 5px 10px 2px rgb(66, 66, 66);
    overflow-y: auto;
    background-color: rgb(30, 30, 30);

    h3 {
        color: white;
        font-family: "Rubik", sans-serif;
    }

    h1 {
        color: yellow;
        font-family: "pridimedium";
    }
}

.showFullList {
    text-align: center;
    position: relative;
    margin: 2rem 0;

    button {
        padding: 10px;
        border: 3px solid;
        border-image: linear-gradient(60deg, #553c9a 50%, #ee4b2b 0) 20;
        background: transparent;
        font-family: "Rubik", sans-serif;
        color: white;
    }

    button:hover {
        box-shadow: 0px 0px 10px 5px gray;
        transition: 0.3s;
    }
}

.otherNumbers {
    width: 900px;
    margin: 0 auto;
    text-align: center;

    .inst {
        display: inline-block;
        gap: 1rem;
        padding: 1rem;
        align-items: center;
        border-radius: 15px;
        width: 200px;
        margin: 1rem;
        background-color: rgb(30, 30, 30);
        border: 1px solid rgb(23, 23, 23);
        box-shadow: 5px 5px 7px 1px rgb(16, 16, 16);
        cursor: pointer;

        img {
            height: 7rem;
            width: auto;
            box-shadow: 0px 0px 10px 1px rgb(45, 45, 45);
        }

        .info {
            display: inline;
            text-align: center;


            h4 {
                color: white;
                letter-spacing: 1px;
                font-family: "Rubik", sans-serif;
                margin-top: 1.5rem;
            }

            h1 {
                color: yellow;
                font-family: "pridimedium";
                margin-bottom: 0;
            }
        }
    }

    .inst:hover {
        box-shadow: 0px 0px 15px 4px rgb(54, 54, 54);
        transition: 0.3s;
    }
}

.hideBtn {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
}

.colorWhite {
    color: white;
}

.modal {
    .modal-dialog {
        .modal-content {
            width: max-content;
            text-align: center;
            border-radius: 15px;

            .modal-header {
                .modal-title {
                    display: flex;
                    justify-content: space-between;

                    h2 {
                        text-align: center;
                        font-family: "Rubik", sans-serif;

                        span {
                            color: rgb(1, 96, 83);
                        }
                    }

                    .close {
                        position: absolute;
                        top: -10px;
                        right: 10px;
                        transition: all 200ms;
                        font-size: 40px;
                        font-weight: bold;
                        text-decoration: none;
                        color: #444444;
                        cursor: pointer;
                    }
                }
            }

            .modal-body {
                overflow: auto;

                table {

                    tr {

                        th {
                            font-size: 16px;
                            font-family: "Rubik", sans-serif;
                            color: black;
                            padding: 0.5rem;
                            background-color: white;
                        }

                        td {
                            font-family: "Rubik", sans-serif;
                            font-size: 16px;
                            color: rgb(50, 50, 50);
                            padding: 0.5rem;

                            img {
                                height: 4rem;
                                width: 4rem;
                                padding: 0;
                            }
                        }
                    }

                    tr:nth-child(even) {
                        background-color: #dddddd;
                        color: white;
                    }
                }
            }
        }
    }
}

@media (max-width : 767px) {
    .otherNumbers {
        width: 100%;

        .inst {
            max-width: 250px;

            img {
                height: 10rem;
                width: 100%;
            }
        }
    }

    .totalNumber {
        width: 90%;
    }

    .modal {
        .modal-dialog {
            // overflow: auto;

            .modal-content {
                // overflow-x: scroll;

                .modal-header {
                    .modal-title {
                        position: fixed;
                        width: 90%;

                        h2 {
                            margin-top: 1rem;
                            font-size: 24px;
                        }
                    }
                }

                .modal-body {
                    overflow-y: initial !important;

                    .table {
                        overflow: hidden;
                        overflow-y: scroll;
                        // height: 100px;
                    }
                }

                .modal-footer {
                    left: 0 !important;
                    position: relative;
                    bottom: 0;
                    // margin-top: 1rem;
                    text-align: left;
                }
            }
        }
    }
}