<div class="totalNumber">
    <h3>Total Number of Students</h3>
    <h1>{{userList.length}}</h1>
</div>
<div class="showFullList">
    <button routerLink="/mainPage"> <i class="fa fa-angle-double-left"></i> Open Home Page</button>
    <button routerLink="/list"> Show Full List <i class="fa fa-angle-double-right"></i></button>
</div>
<div class="otherNumbers">
    <div class="inst" *ngFor="let item of instArray">
        <img src={{item.imgSrc}} alt="">
        <div class="info">
            <h4>{{item.name}}</h4>
            <h1>{{item.total}}</h1>
        </div>
        <button class="showListBtn" (click)="showListInfo(item.name)">Show List</button>
    </div>
</div>



<div class="overlay" *ngIf="openPopup">
    <div class="popup">
        <div class="content">
            <h4>Students who choosen <span>{{changeName}}</span> </h4>
            <div class="form-group has-search">
                <i class="fa fa-search form-control-feedback"></i>
                <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search...">
            </div>
            <div class="tableMain">
                <table class="table table-borderless">
                    <tr>
                        <th>Profile Image</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Actions</th>
                    </tr>
                    <tr *ngFor="let item of instName| filter:searchText">
                        <td><img src={{item.profileImg}} alt=""></td>
                        <td>{{item.firstName}}</td>
                        <td>{{item.lastName}}</td>
                        <td>{{item.phoneNumber}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.address}}</td>
                        <td scope="row" style="display: flex; gap: 0.3rem;">
                            <i [routerLink]="[ '/edit', item._id ]" class="fa fa-edit actionIcons colorGray"></i>
                            <i (click)="selectUser(item); openPopup = true;" class="fa fa-trash actionIcons colorRed"></i>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="popupBtns">
                <button type="cancel" class="btn btn-info searchBtn" (click)="closePopupNew()">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="overlay" *ngIf="openDelete">
    <div class="popup deletePopup">
        <div class="content">
            <h4>You want to delete the record of <span class="deleteName"> {{deleteUserName}}</span> ?</h4>
            <div class="popupBtns">
                <button type="cancel" class="btn btn-info" (click)="openDelete = false; openPopup = true;">Cancel</button>
                <button type="button" class="btn btn-danger action-btn"
                    (click)="deleteUser()">Delete</button>
            </div>
        </div>
    </div>
</div>